@import '../../fonts.style';
@import '../../variables.style';
@import '../../mixins.style';

.item{
    @include flex(row,center,center,null);
    @include breakpoint-down(small){
        display: block;
    }
    img{
        width: 50%;
        @include breakpoint-down(small){
            width: 100%;
        }
    }
}

.content{
    padding:40px;
    width: 50%;
    @include breakpoint-down(small){
        width: 100%;
        padding:10px;
    }
    h3,p{
        margin:20px 0px;
    }
}