@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.foot{
    width: 60%;
    margin:0px auto 30px;
    @include breakpoint-down(small){
        width: 100%;
    }
}