@import '../../fonts.style';
@import '../../variables.style';
@import '../../mixins.style';

.item{
    margin:100px 0px;
    @include flex(row,center,center,null);
    @include breakpoint-down(small){
        display: block;
    }
    img{
        width: 50%;
        @include breakpoint-down(small){
            width: 100%;
        }
    }
    p{
        margin:20px 0px;
    }
}

.content{
    width: 50%;
    padding:30px;
    @include breakpoint-down(small){
        width: 100%;
        padding: 10px;
    }
}