@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.feature{
    img{
        width: 100%;
    }
    h3{
        width: 40%;
        margin:50px auto 30px;
    }
    p{
        width: 40%;
        margin: 0px auto 100px;
    }
}