@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.introduce{
    width: 40%;
    margin:50px auto 30px;
    h2{
        margin-bottom: 30px;
    }
}