@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.second_feature{
    width: 80%;
    margin:100px auto;
    @include flex(row,center,center,null);
    @include breakpoint-down(small){
        display: block;
    }
    img{
        width: 50%;
        @include breakpoint-down(small){
            width: 100%;
        }
    }
    h3,p{
        margin: 20px 0px;
    }
}
.details{
    padding:30px;
    @include breakpoint-down(small){
        padding:10px;
    }
}