@import '../fonts.style';
@import '../variables.style';
@import '../mixins.style';

.ambassadors{
    padding:100px 135px;
    @include flex(row,center,flex-start,null);
    & > div{
        width: calc(100% / 3 - 20px);
        margin:0px 10px;
    }
}