@import '../fonts.style';
@import '../variables.style';
@import '../mixins.style';

.blog{
    padding:0px 135px;
    @include flex(row,center,center,wrap);
    @include breakpoint-down(medium){
        padding:0px 60px;
    }
    @include breakpoint-down(small){
        padding: 0px 10px;
    }
    h1,p{
        text-align: center;
    }
}