@import '../fonts.style';
@import '../variables.style';
@import '../mixins.style';

.home{
    padding:0px 135px;
    @include breakpoint-down(medium){
        padding:0px 60px;
    }
    @include breakpoint-down(small){
        padding:0px 10px;
    }
}