@import '../fonts.style';
@import '../variables.style';
@import '../mixins.style';
.sign_up{
    width:100vw;
    height:calc(100vh - 80px);
    @include flex(column,center,center,null);
}
.inner_wrapper{
    width: 450px;
    h1{
        margin-bottom: 50px;
    }
    fieldset{
        padding:5px 0px;
        border-width: 1px;
        border-radius: 15px;
        &:first-of-type{
            border-color:$dodger-blue;
            margin:20px 0px;
            legend{
                color:$dodger-blue;
            }
        }
        &:last-of-type{
            border-color: $orangy-red;
            legend{
                color:$orangy-red;
            }
        }
        legend{
            padding:0px 10px;
            margin-left: 15px;
            font-family: $f-poppins;
        }
        input{
            position: relative;
            top:-5px;
            left:0px;
            padding:5px 15px;
            width: 100%;
            border:0px;
            outline:none;
            background: transparent;
            &::placeholder{
              color:$grey-500;
            }
            &:focus,&:active{
              border:0px;
              outline:none;
            }
        }
    }
    button{
        @include normal-button-black;
        width: 100%;
    }
    span{
        display: block;
        margin:30px 0px;
        a{
            margin-left: 5px;;
        }
    }
}