@import '../../../../fonts.style';
@import '../../../../variables.style';
@import '../../../../mixins.style';

.comment{
    padding:20px;
    border-bottom: 1px solid $grey-300;
    @include flex(row,flex-start,flex-start,null);
    @include breakpoint-down(small){
        display: block;
    }
    h3,p{
        margin:5px 0px;
    }
}

.about{
    width: 25%;
    @include breakpoint-down(small){
        width: 100%;
        margin:20px 0px;
    }
    p{
        text-align: left !important;
    }
}
.recomendation{
    div{
        @include flex(row,flex-start,center,null);
        img{
            width: 15px;
            margin-right: 5px;
        }
    }
}
.comment_info{
    width: 75%;
    @include breakpoint-down(small){
        width: 100%;
    }
    img{
        margin-right:5px;
        width: 15px;
    }
    h3,p{
        text-align: left !important;
    }
}
.votes{
    @include flex(row,flex-start,center,null);
    div{
        margin-left: 5px;
        img{
            position: relative;
            top:2px;
            left:0px;
        }
    }
}