@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.gallery{
    width:50%;
    margin-bottom: 100px;
    @include flex(row,space-between,center,wrap);
    @include breakpoint-down(small){
        width: 100%;
    }
    img{
        cursor: pointer;
        border:1px solid transparent;
        &:hover{
            border:1px solid $black;
        }
    }
}