@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.nav{
    @include flex(row,space-between,center,null);
}
.categories{
    @include flex(row,space-between,center,null);
}
.category{
    cursor: pointer;
    text-transform: capitalize;
    font-style: italic;
    padding:5px 10px;
    margin:0px 5px;
    border:2px solid $yellowish-green;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    &:hover{
        opacity: 0.7;
    }
}