@import '../normalize.style';
@import '../fonts.style';
@import '../variables.style';
@import '../mixins.style';

@keyframes comesIn {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.nav_inner_wrapper{
    padding:0px 135px;    
}
.header{
    padding: 5px 0px;    
    text-align: center;
    color:$white;
    background-color: $black;
}
.navigation{
    @include flex(row,space-between,center,null);
}
.logo{
    width:10%
}
.menu{
    padding: 0px 180px;
    width: 70%;
    @include flex(row,space-between,center,null);
    a:hover{
        text-decoration: underline;
    }
    a:last-of-type{
        box-sizing: border-box;
        padding:5px 15px;
        border-radius: 25px;
        color:$yellowish-green;
        border:1px solid $yellowish-green;
    }
}
.controls{
    width: 20%;
    @include flex(row,space-between,center,null);
}
.main_menu_wrapper{
    margin:0px auto;
    width: 560px;
    animation: comesIn 0.3s ease-in-out forwards;
    p{
        font-weight: bold;
    }
    a,p{
        display: block;
        margin:10px 0px;
        text-align: center;
    }
    a{
        color:$dodger-blue;
    }
    button{
        @include normal-button-white();
        display: block;
        margin:0px auto;
    }
}
.main_menu{
    @include flex(row,space-between,center,null);
}
.item{
    text-decoration: none;
    p{
        color:$black;
    }
    button{
        @include normal-button-white();
        display: block;
        margin:0px auto;
    }
}
