@import '../../fonts.style';
@import '../../variables.style';
@import '../../mixins.style';

.feature{
    width: 50%;
    margin:0px auto;
    transform: translateX(-100px);
    @include breakpoint-down(small){
        width: 100%;
        transform: translateX(0px);
    }
    img{
        display: block;
        margin-right: auto;
    }
    p{
        margin:30px 0px;
    }
    a{
        @include flex(row,flex-start,center,null);
        img{
            margin-left:10px;
        }
    }
}