@import '../../fonts.style';
@import '../../variables.style';
@import '../../mixins.style';

.intro{
    width: 100%;
    padding:20px 0px;
    background-color: $fresh-green;
    h1,p{
        text-align: center;
    }
    h1{
        margin:30px 0px 10px;
    }
    p{
        margin-bottom: 50px;
    }
}