@import '../../fonts.style';
@import '../../variables.style';
@import '../../mixins.style';

@keyframes comesIn {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.nav{
    margin-bottom: 50px;
}

.nav_inner_wrapper{
    padding:0px 135px; 
    @include breakpoint-down(medium){
        padding:0px 60px;
    }   
}

.hamburger{
    display: none;
    @include breakpoint-down(small){
        display: block;
        position: relative;
        left: -40px;
        top:0px;
    }
    span{
        width: 20px;
        display: block;
        margin:5px 0px;
        height: 2px;
        background-color: $black;
    }
}

.header{
    padding: 5px 0px;    
    text-align: center;
    color:$white;
    background-color: $black;
}
.navigation{
    @include flex(row,space-between,center,null);
}
.logo{
    width:10%;
    @include breakpoint-down(small){
        position: relative;
        left:-100px;
        top:0px;
    }
}
.menu{
    padding: 0px 180px;
    width: 70%;
    @include flex(row,space-between,center,null);
    @include breakpoint-down(medium){
        min-width:90%;
        box-sizing: border-box;
    }
    @include breakpoint-down(small){
        position: absolute;
        top:80px;
        left:2%;
        z-index: 10;
        background-color: $white;
        box-shadow: 0px 0px 10px $grey-500;
        border-radius: 10px;
        @include flex(column,center,center,null);
        a{
            margin:10px 0px;
            min-width:200px; 
            text-align: center;
        }
    }
    a:hover{
        text-decoration: underline;
    }
    a:last-of-type{
        box-sizing: border-box;
        padding:5px 15px;
        border-radius: 25px;
        color:$yellowish-green;
        border:1px solid $yellowish-green;
        &:hover{
            color:$white;
            background-color: $yellowish-green;
            text-decoration: none;
        }
    }
}
.controls{
    width: 20%;
    @include flex(row,space-between,center,null);
    @include breakpoint-down(medium){
        min-width: 15%;
        position:relative;
        right: 120px;
        top:0px;
    }
    @include breakpoint-down(small){
        right: 30px;
        img{
            margin:0px 10px;
        }
    }
}
.main_menu_wrapper{
    margin:0px auto;
    width: 560px;
    animation: comesIn 0.3s ease-in-out forwards;
    p{
        font-weight: bold;
    }
    a,p{
        display: block;
        margin:10px 0px;
        text-align: center;
    }
    a{
        color:$dodger-blue;
    }
    button{
        @include normal-button-white();
        display: block;
        margin:0px auto;
    }
}
.main_menu{
    @include flex(row,space-between,center,null);
}
.item{
    text-decoration: none;
    p{
        color:$black;
    }
    button{
        @include normal-button-white();
        display: block;
        margin:0px auto;
    }
}
