@mixin flex($flow,$jc,$ai,$fw){
    display: flex;
    @if($flow){
        flex-direction: $flow;
    }
    @if($jc){
        justify-content: $jc;
    }
    @if($ai){
        align-items: $ai;
    }
    @if($fw){
        flex-wrap: $fw;
    }
}

$breakpoints-up:("medium":"40em", "large":"64.5em", "xlarge":"87.5em");
// 639px 1023px 1399px
$breakpoints-down:("small":"39.9375em", "sm-med":"33.75em","medium-sm":"63em","medium":"64em", "large":"85,375em");

@mixin breakpoint-up($size) {
    @media(min-device-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}
@mixin breakpoint-down($size) {
    @media(max-device-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}
@mixin breakpoint-down-l($size) {
    @media(max-device-width: map-get($breakpoints-down, $size)) and (orientation:landscape) {
        @content;
    }
}
@mixin breakpoint-up-l($size) {
    @media(min-device-width: map-get($breakpoints-down, $size)) and (orientation:landscape) {
        @content;
    }
}


@mixin normal-button-white{
    cursor: pointer;
    margin:10px 0px;
    width: 150px;
    padding:10px 20px;
    background-color: $white;
    border-radius: 25px;
    border:2px solid $black;
    font-weight: bold;
    &:hover{
        opacity: 0.7;
    }
}
@mixin normal-button-black{
    cursor: pointer;
    margin:10px 0px;
    width: 150px;
    padding:10px 20px;
    color:$white;
    background-color: $black;
    border-radius: 25px;
    border:2px solid $black;
    font-weight: bold;
    &:hover{
        opacity: 0.7;
    }
}
@mixin normal-button-yellowish-green{
    cursor: pointer;
    margin:10px 0px;
    width: 150px;
    padding:10px 20px;
    color:$black;
    background-color: $yellowish-green;
    border-radius: 25px;
    border:2px solid $yellowish-green;
    font-weight: bold;
    &:hover{
        opacity: 0.7;
    }
}

