@import '../../../fonts.style';
@import '../../../variables.style';
@import '../../../mixins.style';

.introduce{
    box-sizing: border-box;
    padding:50px;
    width: calc(100% + 270px);
    background-color: $black;
    position: relative;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    button{
        @include normal-button-white;
        width: fit-content;
        display: block;
        margin: 0px auto;
    }
    h2{
        margin:50px 0px;
        text-align: center;
        color:$white;
    }
    img{
        display: block;
        width: 90%;
        margin:0px auto;
        border-radius: 25px;
    }
}